@page
@model HECVAT_Survey.Pages.Completed_PageModel
@{
}
<div class="text-center">
    <h1 class="display-4">Thank you for your submission.</h1>



    <p>Your results have been recorded.</p>
    <p>Check the clients tab to view your submitted information.</p>
</div>

<div>‎ </div>
<div>‎ </div>
<div>‎ </div>
<div>‎ </div>
<div>‎ </div>
<div>‎ </div>
<div>‎ </div>
<div>‎ </div>
<div>‎ </div>
<div>‎ </div>
<div>‎ </div>
<div>‎ </div>
<div>‎ </div>
<div>‎ </div>
<div>‎ </div>
<div>‎ </div>
<div>‎ </div>
<div>‎ </div>
<div>‎ </div>
<div>‎ </div>
<div>‎ </div>
<div>‎ </div>
<div>‎ </div>
<div>‎ </div>
<div>‎ </div>
<div>‎ </div>
<div>‎ </div>
<div>‎ </div>
<div>‎ </div>
<div>‎ </div>
