@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    <div>‎ </div>

    <strong> <big>Introduction </big> </strong>
    </br>
    This privacy policy explains how we collect, use, and protect the personal information you provide in connection with this survey. By participating in the survey, you consent to the collection, use, and disclosure of your personal information as described in this policy.
    </br></br>
    <strong> <big> Information Collected </big> </strong>
    </br>
    We collect personal information that you voluntarily provide when you complete the survey. This may include your name, email address, phone number, and demographic information. We may also collect non-personal information such as your IP address, browser type, and operating system.
    </br> </br>
    <strong> <big>Use of Information</big> </strong>
    </br>
    We will use the information collected in the survey to understand your preferences and experiences related to our interests. We may also use the information for future references and business. We will not sell, rent, or lease your personal information to third parties.
    </br></br>
    <strong> <big> Vendor Assessment</big> </strong>
    </br>
    To ensure that the vendors we use are in compliance with our data privacy and security policies, we may require them to complete a HECVAT questionnaire. The HECVAT tool is specifically designed to measure vendor risk in higher education and assess whether the vendor has appropriate information, data, and cybersecurity policies in place to protect sensitive institutional information and constituents' PII.
    </br></br>
    <strong> <big> Disclosure of Information</big> </strong>
    </br>
    We may share your personal information with our partners, service providers, or other third parties who assist us in conducting the survey. We may also disclose your information to comply with applicable laws, regulations, or legal processes, or to protect our rights or property.
    </br></br>
    <strong> <big> Security of Information</big> </strong>
    </br>
    We take reasonable steps to protect the personal information we collect in connection with the survey. We use appropriate technical and organizational measures to safeguard the information from unauthorized access, disclosure, alteration, or destruction. We also require vendors to adhere to our data privacy and security policies, as well as complete the HECVAT questionnaire to assess their level of risk.
    </br></br>
    <strong> <big>Your Rights</big> </strong>
    </br>
    You have the right to access, modify, or delete your personal information that we have collected in connection with the survey. If you wish to exercise any of these rights, please contact us at the email address provided in the survey invitation.
    </br></br>
    <strong> <big> Changes to this Policy</big> </strong>
    </br>
    We may update this privacy policy from time to time. If we make any material changes, we will notify you by email or by posting a notice on our website.
    </br></br>

    <span><a target="_blank" rel="noopener noreferrer" href="https://www.ilga.gov/legislation/ilcs/ilcs3.asp?ActID=2702&ChapterID=67">Your Illinois Privacy Rights</a></span>
    

</p>
