@page
@model HECVAT_Survey.Pages.TutorialModel
@{
    ViewData["Title"] = "Tutorial";
}
<h1>@ViewData["Title"]</h1>

<div>‎ </div>

<p>
    <strong><big>Step 1: Familiarize Yourself with the HEVCAT Survey</big></strong>
    </br>
    Before taking the survey, it is essential to familiarize yourself with the HECVAT survey and
    the types of questions that will be asked. The survey is divided into three sections:
    administrative, technical, and general. Each section contains questions related to the security
    and privacy controls of the cloud service provider.
    </br></br>
    <strong><big>Step 2: Gather the Required Information</big></strong>
    </br>
    To complete the survey, you will need to gather information related to the security and privacy controls of your communication service provider or CSP.
    This may include policies, procedures, and management practices that govern the security and privacy of the data,
    as well as technical controls such as access controls, encryption, and monitoring tools used by your CSP to protect the data.
    </br></br>
    <strong><big>Step 3: Answer the Questions Honestly and Accurately</big></strong>
    </br>
    When answering the questions in the survey, it is essential to be honest and accurate. The purpose of the survey is to evaluate
    the security and privacy risks associated with your CSP, and inaccurate or dishonest answers may result in an inaccurate assessment of those risks.
    </br></br>
    <strong><big>Step 4: Provide Additional Information if Necessary</big></strong>
    </br>
    If you feel that a question does not accurately capture the security or privacy controls of your CSP, you may provide additional information in the
    comment box provided. This information may be useful in providing a more accurate assessment of the risks associated with your CSP.
    </br></br>
    <strong><big>Step 5: Review and Submit the Survey</big></strong>
    </br>
    Once you have answered all the questions, it is essential to review your answers to ensure that they are accurate and complete. You should also review
    any comments you have provided to ensure that they are clear and concise. Once you are satisfied with your answers, you can submit the survey.
    </br></br>
    <strong><big>Step 6: Review the Results</big></strong>
    </br>
    After submitting the survey, you may receive feedback from the institution of higher education that is evaluating your CSP. This feedback may include
    areas where your CSP falls short of their security and privacy standards, as well as areas where your CSP exceeds their standards.
    </br></br>
    <strong><big>Step 7: Develop an Action Plan</big></strong>
    </br>
    If the feedback indicates that there are areas where your CSP falls short of the security and privacy standards of the institution,
    it is essential to develop an action plan to address those areas. This plan should identify specific steps that your CSP can take
    to improve its security and privacy controls and mitigate the risks identified in the survey.
</p>
<div>‎ </div>
<div>‎ </div>
<div>‎ </div>
